* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  width: 100%;
  min-height: 100vh;
  font-family: 'Barlow Semi Condensed', sans-serif;
  padding: 5rem;
}
/* Start header */
header {
  border-radius: 15px;
  border: 2px solid hsl(217, 16%, 45%);
  color: aliceblue;
  display: flex;
  font-size: 5rem;
  justify-content: space-between;
  line-height: 1;
  padding: 1rem 2rem;
  width: 50%;
  margin: 0 auto;
}
header .score {
  align-items: center;
  background-color: aliceblue;
  border-radius: 15px;
  color: hsl(229, 64%, 46%);
  display: flex;
  flex-direction: column;
  padding: 1rem 5rem;
  text-transform: uppercase;
  font-size: 2rem;
}

header .score .score-value {
  font-size: 10rem;
  color: hsl(229, 25%, 31%);
}

/* Start rules */
.rules-open {
  background: transparent;
  padding: 1rem 3rem;
  letter-spacing: 3px;
  border: 2px solid hsl(217, 16%, 45%);
  color: aliceblue;
  border-radius: 7.5px;
  position: absolute;
  bottom: 3%;
  right: 3%;
  cursor: pointer;
}

.rules-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  padding: 3rem 5rem;
  border-radius: 10px;
  z-index: 5;
}
.rules-popup .header {
  color: hsl(229, 25%, 31%);
  font-size: 3rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 4rem;
  font-weight: 700;
}
.close {
  cursor: pointer;
}

.hide {
  display: none !important;
}

/* Content */

.start-page {
  margin-top: 50px;
}
.triangle {
  padding: 50px 0;
  position: relative;
  background-image: url(../images/bg-triangle.svg);
  background-position: 50% 70%;
  background-repeat: no-repeat;
}
.top-two {
  display: flex;
  justify-content: center;
  transform: translate(0%, -30%);
}
.bottom-one {
  display: flex;
  justify-content: center;
  transform: translate(0, 20%);
}
.option {
  background-color: aliceblue;
  width: 150px;
  height: 150px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.option.paper {
  border: 15px solid hsl(230, 89%, 65%);
  box-shadow: 0 7px 0 0 hsl(230deg 89% 62%);
}
.start-page .paper {
  margin-right: 80px;
}
.option.scissors {
  border: 15px solid hsl(39, 89%, 53%);
  box-shadow: 0 7px 0 0 hsl(40, 84%, 49%);
}
.option.rock {
  border: 15px solid hsl(349, 71%, 56%);
  box-shadow: 0 7px 0 0 hsl(349, 70%, 52%);
}
/* Result Page */

.result {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  color: aliceblue;
  justify-items: center;
  align-items: center;
  font-size: 3rem;
  margin-top: 5rem;
}
.result .option {
  position: static;
  transform: unset;
  width: 20rem;
  height: 20rem;
}
.result h3,
h2 {
  margin: 6rem 0;
}
.result h2 {
  font-size: 5rem;
}
.result div {
  display: grid;
  justify-items: center;
}
.result .play-again {
  padding: 1rem 3rem;
  border-radius: 7.5px;
  border: 1px solid hsl(229, 25%, 31%);
  color: hsl(229, 25%, 31%);
  font-weight: 700;
  cursor: pointer;
}
.result .winner .option {
  box-shadow: 0 0 0 2rem rgba(255, 255, 255, 0.1),
    0 0 0 5rem rgba(255, 255, 255, 0.1), 0 0 0 8rem rgba(255, 255, 255, 0.1);
}

.copyrights {
  color: aliceblue;
  font-size: 16px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
}
a {
  color: aqua;
}
/* Mobile version */
/*  */
@media (max-width: 992px) {
  header {
    width: auto;
  }
}
@media (max-width: 490px) {
  html {
    font-size: 30%;
  }
  .start-page .option {
    width: 100px;
    height: 100px;
  }
  .start-page .option img {
    width: 33px;
  }
  .start-page {
    margin-top: 150px;
  }
  .start-page .option.paper {
    margin-right: 100px;
  }
  .start-page .top-two {
    transform: translateY(-75%);
  }
  .start-page .bottom-one {
    transform: translateY(60%);
  }
  .rules-popup {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
